* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    font-size: 1.2rem;
    min-height: 100%;
}

body h1 {
    font-size: 1rem;
}

html {
    height: 100%;
}

.main-conteiner h2{
    padding: 15px 0 15px 0;
}

.main-texto {
    margin: 0 0 0 30px;
    text-align: start;
    padding: 30px 0 15px 0;
}

ol {
    margin: 0 0 0 40px;
}

li {
    margin: 0 0 0 40px;
}


.sidebar p {
    font-size: 13px;
    padding: 25px 0 0 0;
    text-align: justify;
}

.logo > img{
    background-color: #ffffff;
    border-radius: 4px;
    width: 80px;
}

.nav-menu {
    display: flex;
    list-style: none;
}

.nav-menu-item{
    font-size: 12px;
    margin: 20px 15px;
    text-align: initial;
    text-transform: uppercase;
}

.nav-menu-link {
    padding: 8px 12px;
    border-radius: 3px;
}

.nav-menu-link:hover {
    background-color: #0b1fcf;
    transition: 0.1s;
}

.elementos-conteiner > * {
    box-shadow: -1px 1px 7px 0 rgba(0, 0, 0, 0.75);
    border-radius: 4px;
    padding: 10px;
    text-align:  left;
}

.header{
    grid-area: header;
    background-color: #73a8e4;
    text-align: center;
    line-height: 40px;
}

.navbar{
    grid-area: navbar;
    background-color: #0769e9;
    display: flex;
    justify-content: space-between;
}

.nav-link {
    color: #ffffff;
    text-decoration: none;
}


.sidebar{
    grid-area: sidebar;
    background-color: #fffbf7;
}

.main{
    grid-area: main;
    background-color: #f5f5f5;
}

.footer{
    grid-area: footer;
    background-color: #34516d;
}

.elementos-conteiner {
    display: grid;
    gap: 10px;
    grid-template:
        "header" 50px
        "navbar" 100px
        "main"   auto
        "sidebar" 250px
        "footer" 275px;
}

@media (min-width: 600px) {
    .elementos-conteiner {
        grid-template:
        "header  header" 150px
        "navbar  navbar" 100px
        "sidebar main"   auto
        "footer  footer"350px /
        200px    auto;
    }
    body h1 {
        font-size: 2rem;
    }
}

@media (min-width: 900px) {
    .elementos-conteiner {
        grid-template:
        "header  header header" 150px
        "navbar  main   sidebar" auto
        "footer  footer footer" 300px /
         200px   auto   300px;
    }
    .nav-menu {
        justify-content: space-around;
        flex-direction: column;
        margin-right: 40px;
    }
    .navbar {
        flex-direction: column;
        justify-content: flex-start;
    }
    h1 {
        font-size: 2rem;
    }
}

